<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="au.css">
    <link rel="stylesheet" href="/static/service.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>City Vista Estate</title>
</head>
<body class="container-fluid">
    
    <nav class="navbar navbar-expand-lg position-sticky col-12 ">
        
        <button data-bs-target="#menu" data-bs-toggle="collapse" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo col-1 ">
            <a class=" mx-2 rounded rounded-circle" href="#"></a>
            <img class="rounded rounded-circle border-success border-2" src="../static/image/home-icon-house-symbol-simple-vector-design-logo_231786-5048.webp" width="70" height="70" alt="logo">   
        </div>
        
        <div class="Pages navbar-collapse col-8">
            <ul class="navbar-nav fw-bolder">                
                <li class="nav-item mx-3 " > <a class="nav-link" href="/">Home</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/login">Login</a> </li>
                <li class="nav-item mx-3" > <a class="nav-link" href="/Registration">Registration</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/service">Service</a> </li>
                <li class="nav-item mx-3" > <a class="nav-link" href="/about-us">About-us</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link">Contact</a> </li>
        </div>

        <div class="icons navbar-collapse col-2 ">
           <a href="#" class="fa-sharp fa-solid fa-heart m-2" ></a>
           <a href="#" class="fa-solid fa-user m-2"></a>
        </div> 
    </nav>


    <div class="about-container  container-fluid  d-flex flex-flex-wrap:wrap" style="margin-top: 3rem; background-color: white; width: 90%; height: 500px; border-radius: 2%; box-shadow:24px 24px 30px rgb(245, 224, 187) ,">
            <div class="image-container " style="width: 50%; margin: 1rem;">
                <img src="../static/image/house-keys-hands-woman-small-2108350.jpg" alt="" class="" style="width: 100%; height: 90%; margin-top: 1.3rem;">    
            </div>

            <div class="text-container "style="width: 50%; margin: 1.3rem; ">
                <h1>About us</h1>
                <p style="font-size:1.3rem;">The rental house system is used to easily identify the suitable place in save time, cost also.
                Hence this system is based application for this system is based applicable for the reasons making 
                house rental an easy process through an online system. User modules contain the every user detail 
                who register as a user. As a student that study far away from home and don’t get hostel, we have to 
                find a nearby house to rent.</p>
                
                {% comment %} <a href="">Read More</a> {% endcomment %}
            
        </div>
    </div>


    <section class="footer .container-fluid	w-100 mt-5	" style="background-color: white;">
        <div class="footer-container ">
          <div class="box-container d-flex justify-content-evenly" style="flex-wrap: wrap;">
              
              <div class="box d-grid ">
                  <h3 class="tag">quick links</h3>
                  <a href="./home.html">Home</a>
                  <a href="./services.html">Services</a>
                  <a href="./contact.html">Contact</a>
                  <a href="./about-us.html">About-Us</a>
                 
              </div>
              
              <div class="box d-grid">
                  <h3>Branch location</h3>
                  <a href="#">facebook</a>
                  <a href="#">twitter</a>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
              </div>
          </div>

          <div class="credit">created by <span> TSEC students</span> | all rights reserved!</div>
        </div>
    </section>
   
</body>
</html>