<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../style.css">-->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="/static/service.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>City Vista Estate</title>
</head>
<body class="container-fluid">
<div>
    <nav class="navbar navbar-expand-lg position-sticky col-12 ">
        
        <button data-bs-target="#menu" data-bs-toggle="collapse" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo col-1 ">
            <a class=" mx-2 rounded rounded-circle" href="#"></a>
            <img class="rounded rounded-circle border-success border-2" src="../static/image/home-icon-house-symbol-simple-vector-design-logo_231786-5048.webp" width="70" height="70" alt="logo">   
        </div>
        
        <div class="Pages navbar-collapse col-8">
            <ul class="navbar-nav fw-bolder">
                <li class="nav-item mx-3 "> <a class="nav-link" href="/">Home</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/login">Login</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/Registration">Registration</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/service">Service</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link" href="/about-us">About-us</a> </li>
                <li class="nav-item mx-3"> <a class="nav-link">Contact</a> </li>
        </div>

        <div class="icons navbar-collapse col-2 ">
           <a href="#" class="fa-sharp fa-solid fa-heart m-2" ></a>
           <a href="#" class="fa-solid fa-user m-2"></a>
        </div> 
    </nav>

    <h1 class=" fw-bold text-center " style="margin-top: 1rem; color:brown; font-family: cursive;" >Our Services</h1>

    <main class=" d-flex justify-content-evenly align-item center" style="margin-top: 1rem; flex-wrap: wrap;">
        
        <div class="card p-1 m-2" style="width: 300px;">
            <div class="card-header" style="background-color: wheat;  ">
                <h5 class="card-title text-center fw-bold">Rooms on Rent</h5>
            </div>
            <div class="card-body">
                <img src="../static/image/download (13).jpg" class="card-img-top">
            </div>
            <div class="card-body">
                <ul>
                    <li>Clean Area</li>
                    <li>Happy Environment</li>
                    <li>Best Services</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100 bi bi-cart4" >Learn More</button>
            </div>
        </div>

        <div class="card p-1 m-2" style="width: 300px;;">
            <div class="card-header " style="background-color: wheat;">
                <h5 class="card-title text-center fw-bold">Villas for Renting</h5>
            </div>
            <div class="card-body">
                <img src="../static/image/download (11).jpg" class="card-img-top">
            </div>
            <div class="card-body">
                <ul>
                    <li>Clean Area</li>
                    <li>Happy Environment</li>
                    <li>Best Services</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100 bi bi-cart4">Learn More</button>
            </div>
        </div>

        <div class="card p-1 m-2" style="width: 300px;">
            <div class="card-header"style="background-color: wheat;">
                <h5 class="card-title text-center fw-bold ">Building for Renting</h5>
            </div>
            <div class="card-body">
                <img src="../static/image/download (0).jpg" class="card-img-top">
            </div>
            <div class="card-body">
                <ul>
                    <li>Clean Area</li>
                    <li>Happy Environment</li>
                    <li>Best Services</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100 bi bi-cart4"> Learn More</button>
            </div>
        </div>

        <div class="card p-1 m-2" style="width: 300px;">
            <div class="card-header" style="background-color: wheat; font-weight: bolder;">
                <h5 class="card-title text-center fw-bold">House on Rent</h5>
            </div>
            <div class="card-body">
                <img src="../static/image/download (12).jpg" class="card-img-top">
            </div>        
            <div class="card-body">
                <ul>
                    <li>Clean Area</li>
                    <li>Happy Environment</li>
                    <li>Best Services</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100 bi bi-cart4"> Learn More</button>
            </div>
        </div>
    </main>


    <footer >
        <div class="d-flex  justify-content-evenly" style="background-color: wheat; margin-top: 2rem; padding-top: 1rem; color: brown;flex-wrap: wrap; ">
            <div >
                <div class="card-header "><img src="../static/image/BathroomCleaning.webp" alt="" style="padding-left:1.5rem ;"></div>
                <div class="card-footer fw-bold"><p>Bathroom Cleaning</p></div>
            </div>
            <div>
                <div class="card-header"><img  src="../static/image/KitchenCleaning.webp" alt="" style="padding-left:1rem ;"></div>
                <div class="card-footer fw-bold"><p>Kitchen Cleaning</p></div>
            </div>
            <div>
                <div class="card-header"><img src="../static/image/SofaCleaning.webp" alt="" style="padding-left:0.5rem ;"></div>
                <div class="card-footer fw-bold"><p>Sofa Cleaning</p></div>
            </div>
            <div>
                <div class="card-header"><img src="../static/image/PremiumHouseCleaning.webp" alt="" style="padding-left:3rem ;"></div>
                <div class="card-footer fw-bold"><p>Premium House Cleaning</p></div>
            </div>
            <div class="al">
                <div class="card-header"><img src="../static/image/FullHouseCleaning.webp" alt="" style="padding-left:2rem ;"></div>
                <div class="card-footer fw-bold"><p>Full House Cleaning</p></div>
            </div>
        </div>
    </footer>

   </div>
</body>
</html>